<?xml version="1.0"?>

<launch>



    <!-- Launch robot_localization and navsat node-->
    <include file="$(find gps_waypoint)/launch/navsattransform_sim_2.launch"/>

    <!-- Run  start move_base -->
    <include file="$(find gps_waypoint)/launch/move_base_nav.launch" />

    <!--RUn ekf_localization node-->
<!---
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom" clear_params="true"/>

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true">
    <remap from="odometry/filtered" to="odometry/filtered_map"/>
  </node>

-->


  <!-- Run the map server -->

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true">
    <remap from="odometry/filtered" to="odometry/filtered_map"/>
    <rosparam command="load" file="$(find gps_waypoint)/config/ekf_params.yaml"/>
  </node>

</launch>