<?xml version="1.0"?>

<launch>

  <!--Launch Map Server node & provide Map file-->
  <arg name="map_file" default="$(find gps_waypoint)/config/map/empty_map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />



 <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom" args="1 0.0 0 0 0 0 map odom"/>

 <node pkg="tf2_ros" type="static_transform_publisher" name="odom_to_robot_footprint" args="1 0.0 0 0 0 0 odom robot_footprint"/>


 <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
  
  <!--Global and local costmap-->
    <rosparam file="$(find gps_waypoint)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find gps_waypoint)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
  
   <!--Global and local costmap parameter server-->
    <rosparam file="$(find gps_waypoint)/config/local_costmap_params.yaml" command="load" />
    <param name="local_costmap/width" value="5.0"/>
    <param name="local_costmap/height" value="5.0"/>

    <rosparam file="$(find gps_waypoint)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find gps_waypoint)/config/costmap_common_params.yaml" command="load" />
    <rosparam file="$(find gps_waypoint)/config/costmap_global_static.yaml" command="load" />


  <!--local planner and move_base parameter server-->
    <rosparam file="$(find gps_waypoint)/config/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find gps_waypoint)/config/move_base_params.yaml" command="load" />
    <rosparam file="$(find gps_waypoint)/config/planners.yaml" command="load"/>
    <rosparam file="$(find gps_waypoint)/config/planners.yaml" command="load" />

     <!--Global and local planner-->  
    <param name="base_global_planner" type="string" value="navfn/NavfnROS" />
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/>

     <!--Odom, map, cmd_vel topics /odom to /odometry/filtered..... gps_nav?-->  
    <remap from="odom" to="/odometry/filtered_map" />
    <remap from="cmd_vel" to="/cmd_vel" />
    

  </node>


</launch>
