<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="ur3e" >

  <!-- common stuff -->
  <!-- <xacro:include filename="$(find ur_e_description)/urdf/rosbob.gazebo" /> -->


  <!-- MOBILE ROBOT -->

  <!-- NO MESH FOR MOBILE ROBOT-->
  <!-- <xacro:include filename="$(find rover_autonav)/urdf/rosbob_v2.xacro" /> -->
  
  <!-- MESH FOR MOBILE ROBOT-->
  <xacro:include filename="$(find gps_waypoint)/urdf/rosbob_v5.xacro" />
  




  <!-- ARM -->
  <xacro:include filename="$(find manipulation)/scorbot_description/urdf/scorbot_v3.xacro" />




  <!-- Here we create the Xacro macro to attach the Gripper to the arm_link-->
  <!-- <xacro:scorbot prefix="scorbot" parent="arm_link"> -->
  <xacro:scorbot prefix="scorbot" parent="robot_footprint">    


    <!-- NO MESH FOR MOBILE ROBOT--> 
    <!-- <origin xyz="0.0 0 0.43" rpy="0 0 0" /> -->

    <!-- MESH FOR MOBILE ROBOT-->
    <!-- <origin xyz="0.27 0 0.28" rpy="0 0 0" /> -->
    <origin xyz="0.27 0 0.359" rpy="0 0 0" />

  </xacro:scorbot>
</robot>